.header-component {
    width: 100%;
    height: 60px;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 24px;
    padding-top: 34px;
    padding-bottom: 8px;


    .left {
        padding-left: 12px;

        img {
            margin-left: 60px;
        }
    }

    .right {
        color: #090909;
        display: flex;
        align-items: center;
        padding-right: 12px;
        margin-right: 50px;
        gap: 10px;

        ul {
            list-style-type: none;
            display: flex;
            align-items: center;
            gap: 10px;

            li {
                color: grey;
                font-size: 19px;
                cursor: pointer;
                padding: 8px;
                padding-bottom: 14px;

                :hover {
                    color: red;
                    border-radius: 4px;
                }
            }
        }

        button {
            margin-bottom: 12px;
            cursor: pointer;
            background-color: rgb(86, 86, 203);
            outline: none;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 4px;
            color: white;
            padding: 10px;

            :hover {
                color: red;
                border-radius: 4px;
            }
        }

    }
}