.generic-component{
    width: 100%;
    height: 100%;
    table{
        width: 100%;
        // height: 100%;
        overflow: auto;
        color: var(--primary-text);
        border-collapse: collapse;
        thead{
            th{
                text-align: center;
                font-weight: bold;
            }
        }
        tbody{
            margin-top: 5px;
            tr{
                &:nth-child(even) {
                    
                }

                &:nth-child(odd) {
                    background-color: var(--hover); 
                }
                &:hover {
                    background-color: var(--hover); 
                }

            }
            td{
                text-align: center;
                padding: 4px;
            }
        }
    }
}